# Directories
__pycache__
data
runs
.vscode
preds*
crowdai_visualizations
scratch

# Files
*.jpg
*.png
*.tar.xz
*.gif
*.txt

# Files ignore
!assets/sfo7.png
!assets/pix2poly_overall_bg_white.png
!assets/vertex_sequence_detector.png
!assets/optimal_matching_network.png
